{% extends 'Base.html'%}
{% load static%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'FrontEnd1/css/Verify.css' %}">

{% endblock %}
{% block title %}
        Verify Your Account
    {% endblock %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Request for another OTP </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="">
                        {%csrf_token%}
                        <div class="form-group">
                            <label for="username" class="col-md-4 control-label">UserName</label>
                            <div class="col-md-6">
                                <input id="username" type="text" class="form-control" name="username" value="" placeholder="Please enter your username" required>
                            </div>
                        </div>
                        {% comment %} <div class="col-md-6">
                            <input id="text" type="text" class="form-control" name="token" value="" required>
                        </div> {% endcomment %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>




{% endblock %}