*{
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.container_width{
    margin:auto;
    align-items: center;
    width: 40%;
}

#preloader{
  background: #000 url(../Preloader/Loader1.gif) no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
.covr_page_logo{
  width:40%;
  margin:auto;
  text-align: center;

}

.covr_page_logo img{
  width:56%;
  margin:auto;
}
@media screen and (max-width: 600px) {
  .covr_page_logo{
    width: 100%;
  }
}
  




