{% extends 'base.html'%}
{% load static%}
{% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'FrontEnd1/css/demo2.css' %}"
/>
{% comment %} <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/> {% endcomment %}
{% endblock %} 

{% block title %} 
  List of Catalogues 
{% endblock %}

<style>
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
</style>

{% block content %}

<div class="Index_main_Container">
  <div class="container12">
    {% for i in post %}
    <!-- Owner Details -->
    <div class="Ad-user-details">
      <!-- This is to center the next div. Supporting Div -->
      <div style="visibility: hidden">This</div>

      <!-- Username Div -->
      <div style="">
        {% if i.people_photo %}
        <div class="profile_image">
          <a href="{% url 'SpecificUser' i.user_id %}">
            <img
              src="{{i.people_photo.url}}"
              alt="No photo"
              class="image_of_user"
            />
          </a>
        </div>
        {% else %}
        <div class="header_Image">
          <a href="{% url 'SpecificUser' i.user_id %}"> {{i.first_char}} </a>
        </div>
        {% endif %}

        <div class="username_user">
          <a href="{% url 'SpecificUser' i.user_id %}">
            <h5>{{i.userName}}</h5>
          </a>
        </div>
      </div>

      <!-- Post setting Div -->
      <div class="menu-button-post">
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Comments.png' %}"
          alt=""
          style="width: 30px; height: 30px"
          data-bs-toggle="modal"
          data-bs-target="#post_menu{{i.post_id}}"
        />
      </div>
    </div>
    <!-- Owner Details Till here -->

    <!-- Modal Box for post settings  -->
    <div
      class="modal fade"
      id="post_menu{{i.post_id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">

      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="main_modal_box_post_menu">
              <div class="first_div post_menu_common">
                <div
                  onclick="share({{i.post_id}});"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal{{i.post_id}}">
                  Share
                </div>
                <div
                  onclick="share({{i.post_id}});"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal{{i.post_id}}">
                  <img
                    src="{% static 'FrontEnd1/Static_Images/CovrPage_Share.png' %}"/>
                </div>
              </div>
              <div class="second_div post_menu_common">
                <div onclick="copyURLFunction({{i.post_id}})">
                  Copy Link
                </div>
                <div onclick="copyURLFunction({{i.post_id}})">
                  <img
                    src="{% static 'FrontEnd1/Static_Images/CovrPage_Share.png' %}"/>
                </div>
              </div>
              <div class="third_div post_menu_common">
                <div>
                  {% if user.is_authenticated %}
                  <a href="{% url 'SpecificUser' user.id %}" class="nav_link">
                    contact
                  </a>
                  {% else %}
                  <a href="{% url 'login-in' %}" class="nav_link"> contact </a>
                  {% endif %}
                </div>
                <div>
                  {% if user.is_authenticated %}
                  <a href="{% url 'SpecificUser' user.id %}" class="nav_link">
                    <img
                      src="{% static 'FrontEnd1/Static_Images/NavBar/CovrPage_Profile_B.png' %}"
                      alt=""
                    />
                  </a>
                  {% else %}
                  <a href="{% url 'login-in' %}" class="nav_link">
                    <img
                      src="{% static 'FrontEnd1/Static_Images/NavBar/CovrPage_Profile_B.png' %}"
                      alt=""
                    />
                  </a>
                  {% endif %}
                </div>
              </div>
              <div class="fourth_div post_menu_common">
                <div onclick="HidePost({{i.post_id}});">
                  Hide
                </div>
                <div>
                  <img
                    src="{% static 'FrontEnd1/Static_Images/CovrPage_Share.png' %}"
                    onclick="HidePost({{i.post_id}});"
                  />
                </div>
              </div>
              <div class="fifth_div">
                {% if i.user_id != i.current_user_id %} 
                {% if i.isFollowed == False %}
                <div
                  class="follow_post_div follow_state_change_{{i.user_id}}"
                  id="follow_state_change_{{i.user_id}}"
                  onclick="Follow_Unfollow_user({{i.user_id}});"
                >
                  Follow
                </div>
                {% else %}
                <div
                  class="follow_post_div follow_state_change_{{i.user_id}}"
                  id="follow_state_change_{{i.user_id}}"
                  onclick="Follow_Unfollow_user({{i.user_id}});"
                >
                  Unfollow
                </div>
                {% endif %}
                {% endif %}

                <div class="report_post_div">
                  <button class="btn btn-danger">Report</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer1" style="margin-left: auto; margin-right: 0">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal">
                Close
              </button
            >
            <br/>
            <div id="messages_modal_box{{i.post_id}}" class="message_modal_box">
              Link copied
            </div>
            <div style="visibility: hidden">Link copieddddd</div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal Box End -->

    <!-- IMAGE CARAOUSEL  -->

    
      <div style="position: relative;">
        <div class="single-item flipping{{ forloop.counter0 }}" id="flipbook">
          
          {% for image in i.images %}
          <div>
            <img class="main_Image" src="{{image.image.url}}" alt="hello"/>
          </div>
          {% endfor %}
          
        </div>

        {% if i.Tag1 is not none %}
        <div class="tags">
          <img
                src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}"
                onclick="tag_box_show({{i.post_id}});"
              />
              <div class="text-center tag_box" id="tag_box_{{i.post_id}}">
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <h6>{{i.product_availability.title}}</h6>
                  <i
                    class="fa fa-window-close btn"
                    aria-hidden="true"
                    style="color: white"
                    onclick="hide_tag_box({{i.post_id}})"
                  ></i>
                </div>
                <hr />
                <p><a href="{{i.Tag1}}" target="_blank">{{i.Tag1_Name}}</a></p>
                <hr />
                {% if i.Tag2 is not none %}
                <p><a href="{{i.Tag2}}" target="_blank">{{i.Tag2_Name}}</a></p>
                <hr />
                {% endif %} {% if i.Tag3 is not none %}
                <p><a href="{{i.Tag3}}" target="_blank">{{i.Tag3_Name}}</a></p>
                {% endif %}
              </div>
        </div>
        {% endif %}        

            <!-- <div id="photo_Tag_Box">
              {% if i.Tag1 is not none %}
              <img
                src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}"
                onclick="tag_box_show({{i.post_id}});"
              />
              <div class="text-center tag_box" id="tag_box_{{i.post_id}}">
                <div
                  style="
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                  "
                >
                  <h6>{{i.product_availability.title}}</h6>
                  <i
                    class="fa fa-window-close btn"
                    aria-hidden="true"
                    style="color: white"
                    onclick="hide_tag_box({{i.post_id}})"
                  ></i>
                </div>
                <hr />
                <p><a href="{{i.Tag1}}" target="_blank">{{i.Tag1_Name}}</a></p>
                <hr />
                {% if i.Tag2 is not none %}
                <p><a href="{{i.Tag2}}" target="_blank">{{i.Tag2_Name}}</a></p>
                <hr />
                {% endif %} {% if i.Tag3 is not none %}
                <p><a href="{{i.Tag3}}" target="_blank">{{i.Tag3_Name}}</a></p>
                {% endif %}
              </div>
              {% endif %}
            </div> -->
            




        <div style="display: flex; align-items: flex-end; margin-top: 20px;;">
        <p class="para-img{{forloop.counter0}}" style="color:black; margin-left:50%;">1 </p>
        <p class="" style="color:blac; display: inline;">  &nbsp/ {{i.images|length}}</p>
      </div>
      

      <button class="Previous_button btn" onclick="pagedown({{forloop.counter0}})"><i class="fa fa-angle-left" aria-hidden="true"></i>
      </button>
      <button class="Next_button btn" onclick="pageup({{forloop.counter0}})"><i class="fa fa-angle-right" aria-hidden="true"></i>
      </button>

    </div>

        
      
    <!-- IMAGE CARAUSEL TILL HERE -->

    <!-- Icons below the Images to like, share, save -->
    <div class="icons_data">
      <div class="comments">
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Comments.png' %}"
          data-bs-toggle="modal"
          data-bs-target="#post_comments{{i.post_id}}"
          onclick="showcomments({{i.post_id}});"
        />
        {{i.comments_count}} comments
      </div>
      <div class="likes">
        {% if i.isLiked == True %}
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}"
          id="like_image_state_change_{{i.post_id}}"
          onclick="LikePost({{i.post_id}});"
        />
        {% else %}
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}"
          id="like_image_state_change_{{i.post_id}}"
          onclick="LikePost({{i.post_id}});"
        />
        {% endif %}
        <span id="like_count_index_{{i.post_id}}"> {{i.likesCount}} </span>
      </div>
      <div
        class="share"
        onclick="share({{i.post_id}});"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal{{i.post_id}}"
      >
        <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Share.png' %}" />
        Share
      </div>
      <div class="save">
        {% if i.isSaved == True %}
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}"
          id="save_image_state_change_{{i.post_id}}"
          onclick="SavePost({{i.post_id}})"
        />
        {% else %}
        <img
          src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}"
          id="save_image_state_change_{{i.post_id}}"
          onclick="SavePost({{i.post_id}})"
        />
        {% endif %}
        <span id="save_status_{{i.post_id}}"> {{i.IsSaved}} </span>
      </div>
    </div>
    <!-- Icons below the Images to like, share, save till here-->

    <!-- Modal Box for the comments for each post -->
    <div
      class="modal fade"
      id="post_comments{{i.post_id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div
              class="first_div post_menu_comment"
              id="comment_model_box_space_{{i.post_id}}"
            ></div>
          </div>
          <div class="modal-footer1" style="width: 80%; margin: auto">
            <form action="{% url 'comment_post' i.post_id %}" method="POST">
              {% csrf_token %}
              <textarea
                name="comment"
                id=""
                style="width: 100%"
                placeholder="write your comment here"
              ></textarea>
              <div class="col-md-12" style="text-align: end">
                <button
                  type="submit"
                  class="btn btn-primary"
                  style="margin-bottom: 20px; margin-top: 20px"
                >
                  Comment
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Till Here -->

    <div class="Ad_Title_Desc">
      <h3>
        <a href="{% url 'view_post' i.post_id %}"> {{ i.title }} </a>
      </h3>
      <p class="post-description">{{ i.description }}</p>
      <p>{{i.created_at}}</p>
    </div>
    <hr />

    <!-- Share Modal Box -->
    <div
      class="modal fade"
      id="exampleModal{{i.post_id}}"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content col-12">
          <div class="modal-header">
            <h5 class="modal-title">Share</h5>
            <button
              type="button"
              class="btn close"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true"> &times; </span>
            </button>
          </div>
          <div class="modal-body">
            <div class="icon-container1 d-flex">
              <div class="smd" onclick="shareTwitter({{i.post_id}});">
                <i
                  class="img-thumbnail fa fa-twitter fa-2x"
                  style="color: #4c6ef5; background-color: aliceblue; top: 50px"
                ></i>
                <p>Twitter</p>
              </div>
              <div class="smd" onclick="shareFB({{i.post_id}});">
                <i
                  class="img-thumbnail fa fa-facebook fa-2x"
                  style="color: #3b5998; background-color: #eceff5"
                ></i>
                <p>Facebook</p>
              </div>
              <div class="smd" onclick="shareWA({{i.post_id}});">
                <i
                  class="img-thumbnail fa fa-whatsapp fa-2x"
                  style="color: #25d366; background-color: #cef5dc"
                ></i>
                <p>Whatsapp</p>
              </div>
              <div class="smd" onclick="shareTele({{i.post_id}});">
                <i
                  class="img-thumbnail fa fa-telegram fa-2x"
                  style="color: #4c6ef5; background-color: aliceblue"
                ></i>
                <p>Telegram</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <label style="font-weight: 600"
              >Page Link
              <span class="message"></span>
            </label>
            <br />
            <div class="row">
              <input
                class="col-10 ur"
                type="url"
                placeholder=""
                id="myInput{{i.post_id}}"
                aria-describedby="inputGroup-sizing-default"
                style="height: 40px"
                disabled
              />
              <button class="btn cpy" onclick="copyURLFunction({{i.post_id}})">
                <i class="fa fa-clone"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Share Modal box  -->
    {% endfor %}
  </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'FrontEnd1/js/Main.js' %}"></script>
<script src="{% static 'FrontEnd1/js/Common.js' %}"></script>
{% comment %} <script src="https://hammerjs.github.io/dist/hammer.js"></script> {% endcomment %}
<script src="{% static 'FrontEnd1/js/jquery.min.1.7.js' %}"></script>
<script src="{% static 'FrontEnd1/js/turn.min.js' %}"></script>

{% comment %} <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script> {% endcomment %}
<script type="text/javascript">
  var likeUrL = "{% url 'API-Like' %}";
  var csrfToken = "{{ csrf_token }}";
  var like_red_photo_path =
    "{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}";
  var like_white_photo_path =
    "{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}";
  var Notsaved = "{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}";
  var saved = "{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}";
  var hidePost = "{% url 'API-HidePost' %}";
  var savePost = "{% url 'API-SavePost' %}";
  var getcomments = "{% url 'API-GetComments' %}";
  var follow_unfollow_user = "{% url 'API-FollowUser' %}";
  var total_posts = {{count}};
  {% comment %} var swiper = new Swiper(".swiper", {
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    pagination: {
      el: ".swiper-pagination",
      dynamicBullets: true,
    },
    //pagination: {
    //el: '.swiper-pagination1',
    //dynamicBullets: true,
    //type:'fraction'

    //},
  }); {% endcomment %}
  $(document).ready(function() {
    //var para_Img = document.getElementsByClassName("para-img");
    //$('.para-img').innerText = 'Hello There from console';
    for(var i =0 ; i < total_posts ; i++){
      var flipbook = $('.flipping'+i);
      
      flipbook.turn({
        autoCenter: true,
        display:'single',
        width: "100%",
        height: 500,
        duration: 1200,
        acceleration: true,
        gradients: true,
        next: '.nextBtn'+i,
        when: {
          turning: function(event, page, pageObject) {
            var L = event.target.className.split(' ')[1].split("")
            var Z = L[L.length-1]
            document.getElementsByClassName("para-img"+Z)[0].innerText = page;
          }
        }
        
  });
    }

    
  });


function pageup(id){
  $('.flipping'+id).turn("next");
}

function pagedown(id){
  $('.flipping'+id).turn("previous");
}
</script>
{% comment %} <script>
  var total_posts = 6;
  for(var i =0 ; i < total_posts ; i++){
  var myElement = document.getElementsByClassName('flipping'+i);


// create a simple instance
// by default, it only adds horizontal recognizers
var mc = new Hammer(myElement[0]);

// listen to events...
mc.on("panleft panright tap press", function(ev) {
  if(ev.type == "panleft"){
    var L = ev.srcEvent.path[4].className.split(' ')[1].split("");
    var Z = L[L.length-1]

    console.log(Z)
    pageup(Z);
  }
  else if(ev.type == "panright"){
    var L = ev.srcEvent.path[4].className.split(' ')[1].split("");
    var Z = L[L.length-1]
    console.log(Z)
    pagedown(Z);
  }
  else if(ev.type == "tap"){
    console.log("tap")
  }
  else if(ev.type == "press"){
    console.log("press")
  }
});
}
</script> {% endcomment %}
{% endblock %}
