{% extends 'base.html'%}
{% load static%}
{% block styles %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'FrontEnd1/css/getFreePhoto.css' %}"
/>
{% endblock %} 

{% block title %} 
  Get Free Photos
{% endblock %}
    
{% block content %}
<div class="main_div_free_photos">
    <div class="header_images">
        <img
                src="{% static 'FrontEnd1/Static_Images/Free_Photos_Image.png' %}"
                style="width: 100%; margin-top:20px;"
              />
    </div>

    <div class="header_text">
        <div class="header_text_normal">
            Unlock Your 
        </div>
        <div class="header_text_bold">
            10 Free
        </div>
        <div class="header_text_normal">
        Product Photos
        </div>
    </div>

<div style="margin:20px 0px;">
    <a href="{% url 'Free_photograph_form' %}">
        <button class="btn claim" >Claim your Photos Now</button>
    </a>
</div>
<div class="instructions-main-div">
<h2>How it works</h2>
<div class="instructions">
        <div>
            <h4>1</h4>
            <h4>Provide your company details<br> with GST Number</h4>
        </div>
        <div>
            <h4>2</h4>
            <h4>Post an instant<br> Catalog on CovrPage</h4>
        </div>
        <div>
            <h4>3</h4>
            <h4>Place your free order <br>and give some specifications</h4>
        </div>
        <div>
            <h4>4</h4>
            <h4>Send your product to us. <br>We would do the photography <br>and mail images to you.</h4>
        </div>
        <div>
            <h4>5</h4>
            <h4>After Photography, we would <br>send back your Products.</h4>
        </div>
    </div>
</div>


<div class="free_photos_note">
    <h2>Please Note</h2>
    <div class="Note">
            <div>
                <h4>FREE PHOTOS</h4>
                <h5>Maximum 10 products, with 3 views per product 
                    would be provided for free. No credit card or any 
                    payment in any form would be required.</h5>
            </div>
            <div>
                <h4>PRODUCT DELIVERY COSTS</h4>
                <h5>You would need to send the products to our 
                    studios <b>at your own cost</b>. You can even hand 
                    deliver to our studio in Gurugram. Also if you want 
                    us to send back the products by courier, you 
                    would need to pay for the courier cost yourself.</h5>
            </div>
            <div>
                <h4>FREE PHOTO DETAILS
                </h4>
                <h5>The photography done would be only on white 
                    background. 
                    Apart from the product, no human models, props 
                    or any additional supporting material would be 
                    used for the photographs</h5>
            </div>
            <div>
                <h4>FREE PHOTOS ONLY IN INDIA
                </h4>
                <h5>Free product photography offer is currently 
                    restricted to companies regsitered (and having 
                    offices, work facilties) only in India. 
                    Users from outside India can however use the 
                    free ecatalog making and display here at 
                    CovrPage.</h5>
            </div>
            <div>
                <h4>ADDITONAL PHOTO REQUIREMENTS?
                </h4>
                <h5>If you wish to order any other style of 
                    photography apart from the details mentioned 
                    above, and you are willing to pay for any other 
                    additional photography services, please write to 
                    us and we would contact you. You can write to us 
                    here or even at the end of free order placement, 
                    you can mention in the text box shown.</h5>
            </div>
        </div>
        <div style="color:#778490;">
            If you want more Photographs, or looking for model images,
            creative images or any other type of photographs for your
            product, and you are willing to pay for these services,
            you can write to us and we would get back to you.
            <br>
            <textarea name="" id="" placeholder="Write Here" style="width: 98%; height:100px; margin-top: 20px;"></textarea>
            <button type="submit" class="btn" style="background-color: black; color: white; border-radius: 20px; padding: 7px 25px; margin-top: 14px;">Submit</button>
        </div>
    </div>
    



</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'FrontEnd1/js/getFreePhoto.js' %}"></script>
{% endblock %}