{% extends 'base.html'%}

{% load static%}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'FrontEnd1/css/Index.css' %}">
<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

{% endblock %}

{% block title %}
    List of Blogs
{% endblock %}
<style>
    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
  
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
</style>
{% block content %}
<div class="Index_main_Container">
    {% for i in post %}
    
    {% comment %} OWNER DETAILS {% endcomment %}
    {% comment %} {% if post_details.people.photo %}
    <div class="profile_image">
        <a href="{% url 'SpecificUser' post_details.post_UserId %}">
        <img src="{{post_details.people.photo.url}}" alt="No photo" class="image_of_user">
        </a>
    </div>
    {% else %}
        <div class="header_Image">
            <a href="{% url 'SpecificUser' post_details.post_UserId %}">
                {{post_details.first_char}}
            </a>
        </div>
    {% endif %}
    <div class="username_user">
        <a href="{% url 'SpecificUser' post_details.post_UserId %}">
            <h2>{{post_details.post_userName}}</h2>
        </a>        
    </div> {% endcomment %}
    {% comment %} TIll here {% endcomment %}
    <div class="Ad_Owner">
        <a href="{% url 'SpecificUser' i.user_id %}">
            {{i.user.UserImage}}
            <h2>{{i.userName}}</h2>
        </a>
    </div>
    <br>
    {% comment %} IMAGE CARAOUSEL {% endcomment %}
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for image in i.images %}
          <div class="swiper-slide bg"><img src="{{image.image.url}}" alt="hello"/></div>
          {% endfor %}
        </div>
        <div class="swiper-button-next" ></div>
        <div class="swiper-button-prev" ></div>
      </div>
    {% comment %} TILL HERE {% endcomment %}
    
    <div class="Ad_Title_Desc">
        <h3>
            <a href="{% url 'view_post' i.post_id %}">
            {{ i.title }}
            </a>
        </h3>
        <p>
            {{ i.description }}
        </p>
        <div class="icons_data">
          <div class="comments">
          <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Comments.png' %}"/>
            {% comment %} {{ i.actualCommentCount }} {% endcomment %}
            {{i.comments_count}} comments
          </div>
        <div class="likes">
          {% if i.isLiked == True %}
          <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}" id="like_image_state_change_{{i.post_id}}" onclick="LikePost({{i.post_id}});"/>
          {% else %}
          <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}" id="like_image_state_change_{{i.post_id}}" onclick="LikePost({{i.post_id}});"/>
          {% endif %}
            <span id="like_count_index_{{i.post_id}}">
              {% comment %} {{ i.actualLikeCount }} {% endcomment %}
              {{i.likesCount}}</span>
        </div>
        <div class="share">
          <a href="#">
            <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Share.png' %}"/>
          </a>
          Share
        </div>
        <div class="save">
          <a href="#">
          <img src="{% static 'FrontEnd1/Static_Images/CovrPage_Save.png' %}"/>
          </a>
          Save
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
    {% comment %} <button onclick="Testing();">Test</button> {% endcomment %}
    <div style="margin-top:70px;"></div>
  </div>

{% comment %} COMMENTS {% endcomment %}

{% comment %} <img src="{{ image.image.url }}" alt="Hello11"> {% endcomment %}
{% comment %} <button><a href="{% url 'Add_Post' %}">Create an Add</a></button> {% endcomment %}
{% comment %} {{i.images_set.all}} {% endcomment %}
{% comment %} {% for image in i.images %} {% endcomment %}
{% comment %} {% if forloop.counter != 1 %} class="slide" {% endif %} {% endcomment %}
{% comment %} {{i.comments}} {% endcomment %}
{% comment %} Likes -> {{i.likesCount}} {% endcomment %}

{% comment %} Till Here {% endcomment %}

{% block scripts %}
<script src="{% static 'FrontEnd1/js/Main.js' %}"></script>
<script src="{% static 'FrontEnd1/js/Common.js' %}"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script type="text/javascript">
  var likeUrL = "{% url 'API-Like' %}";
  var csrfToken = "{{ csrf_token }}";
  var like_red_photo_path = "{% static 'FrontEnd1/Static_Images/CovrPage_Like_R.png' %}";
  var like_white_photo_path = "{% static 'FrontEnd1/Static_Images/CovrPage_Like_W.png' %}";
  var swiper = new Swiper('.swiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });

  {% comment %} function Testing(){
    alert("Hello");
  } {% endcomment %}
</script>
{% endblock %}
{% endblock %}